body {
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    max-height: 70px;
    max-width: 100%;

    background: #06004D;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
 
    h1 {
       margin-left: 50px;
        color: #F6F7F4;
    }

    .logo {
        h1 {
            color: #F6F7F4;
            margin: 15px;
            margin-left: 50px;
        }
        p {  
            color: #F6F7F4;
            margin: 0;
        }
    }

    .deals {
        position: absolute;
        height: 38px;
        width: 114px;
        left: 80%;
        top: 16px;
        border-radius: 4px;

        /* Fill/Secondary */
        
        background: #6363FF;
        border-radius: 4px;

        h3 {
            position: absolute;
            height: 22px;
            left: 0px;
            right: 0px;
            margin-top: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height, or 157% */
            
            text-align: center;
            
            color: #FFFFFF; 
        }
    }

    .initials {

        /* Rectangle */

        height: 38px;
        width: 38px;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border-radius: 19px;
        margin-top: 16px;
        margin-left: 93%;
        background: #F6AB2F;

        p {
            position: absolute;
            height: 24px;
            left: 22.37%;
            right: 22.37%;
            top: calc(50% - 24px/2);
            margin-top: 0px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            text-align: center;

            color: #FFFFFF;
        }
    }
}

.profilePageContent {
    margin-top: 70px;
    display: flex;
}

.sidebar {
    height: 1341px;
    width: 270px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 1px 0px 0px #EAEDF3;

    margin-left: 0px;
    margin-top: 25px;

}

h1, .sidebar-title {
   
       
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */
        padding-left: 30px;
        text-transform: uppercase;

        color: #9EA0A5;

}

.sidebarLogo {
 
    height: 38px;
    width: 38px;
    left: 0px;
    top: 14px;
    border-radius: 4px;

    background: #6363FF;
    border-radius: 4px;
}

.sidebar-group {
    display: flex;
    max-width: 100%;
    width: 240px;
    padding-left: 30px;
    align-items: center;
    left: 0;
    height: 66px;
    
    
}

.sidebar-group-active {
    display: flex;
    max-width: 100%;
    width: 240px;
    padding-left: 30px;
    align-items: center;
    left: 0;
    height: 66px;
    background: #F6F9FD;
    box-shadow: inset 3px 0px 0px #6363FF;
    
}

.sidebar-group-vert-active {
    display: flex;
    flex-direction: column;
    height: 66px;
    padding-left: 5px;
    padding-top: 17px;
    h3 {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #06004D;
    }

    h4 {
        margin: 0;
        width: 146px;
        height: 18px;
        left: 84px;
        top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        mix-blend-mode: normal;
        opacity: 0.75;
        color: #6363FF;
    }

}


.sidebar-group-vert {
    display: flex;
    flex-direction: column;
    height: 66px;
    padding-left: 5px;
    padding-top: 17px;
    h3 {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #3E3F42;
        }

    h4 {
        margin: 0;
        width: 146px;
        height: 18px;
        left: 84px;
        top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        mix-blend-mode: normal;
        opacity: 0.75;
        color: #9EA0A5;
    }

}

.sidebar-account h4 {
    height: 22px;
    padding-left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #3E3F42;
}

.sidebar-account-active h4 {
    height: 22px;
    padding-left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #3E3F42;

    background: #F6F9FD;
    box-shadow: inset 3px 0px 0px #1665D8;
}

.banner {
    background: #6363FF;
    border-radius: 2px;
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-grow: 100%;

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-left: 52px;
    }
}

.profile-page-main {
    width: calc(100% - 246px);
    margin-left: 24px;
    margin-right: 24px;
}