body {
    margin-left: 0;
    margin-right: 0;
    background: #FAFAFA;
}

.page-wrapper {
    padding: 20px;
  }

.page-footer {
    padding: 40px;
    font-size: 20px;
    text-align: center;
  
    a {
      color: #63696e;
    }
  }
.navbar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    
    max-height: 70px;
    width: 100%;

    background: #06004D;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
 
    h1 {
       margin-left: 50px;
        color: #F6F7F4;
    }

    .logo {
        p {
            color: #F6F7F4;
            margin-top: 20px;
            margin-left: 50px;
            font-size: 20px;
        }
    }

    

    .initials {

        /* Rectangle */

        height: 38px;
        width: 38px;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border-radius: 19px;
        margin-top: 16px;
        margin-left: 93%;
        background: #F6AB2F;

        p {
            position: absolute;
            height: 24px;
            left: 22.37%;
            right: 22.37%;
            top: calc(50% - 24px/2);
            margin-top: 0px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            text-align: center;

            color: #FFFFFF;
        }
    }
}

.navbar-right {
    display: flex;
    width: 250px;
    margin-top: 16px;
}

.profilePageContent {
    margin-top: 70px;
    display: flex;
}

.sidebar {
    height: 1341px;
    width: 270px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 1px 0px 0px #EAEDF3;

    margin-left: 0px;
  

}

h1, .sidebar-title {
   
       
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */
        padding-left: 30px;
        text-transform: uppercase;

        color: #9EA0A5;

}

.sidebarLogo {
 
    height: 38px;
    width: 38px;
    left: 0px;
    top: 14px;
    border-radius: 4px;

    background: #6363FF;
    border-radius: 4px;
}

.sidebar-group {
    display: flex;
    max-width: 100%;
    width: 240px;
    padding-left: 30px;
    align-items: center;
    left: 0;
    height: 66px;
    
    
}

.sidebar-group-active {
    display: flex;
    max-width: 100%;
    width: 240px;
    padding-left: 30px;
    align-items: center;
    left: 0;
    height: 66px;
    background: #F6F9FD;
    box-shadow: inset 3px 0px 0px #6363FF;
    
}

.sidebar-group-vert-active {
    display: flex;
    flex-direction: column;
    height: 66px;
    padding-left: 5px;
    padding-top: 17px;
    h3 {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #06004D;
    }

    h4 {
        margin: 0;
        width: 146px;
        height: 18px;
        left: 84px;
        top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        mix-blend-mode: normal;
        opacity: 0.75;
        color: #6363FF;
    }

}


.sidebar-group-vert {
    display: flex;
    flex-direction: column;
    height: 66px;
    padding-left: 5px;
    padding-top: 17px;
    h3 {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #3E3F42;
        }

    h4 {
        margin: 0;
        width: 146px;
        height: 18px;
        left: 84px;
        top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        mix-blend-mode: normal;
        opacity: 0.75;
        color: #9EA0A5;
    }

}

.sidebar-account h4 {
    height: 22px;
    padding-left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #3E3F42;
}

.sidebar-account-active h4 {
    height: 22px;
    padding-left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #3E3F42;

    background: #F6F9FD;
    box-shadow: inset 3px 0px 0px #1665D8;
}

.banner {
    background: #6363FF;
    border-radius: 2px;
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-grow: 100%;

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-left: 52px;
    }
}

.profile-page-main {
    width: calc(100% - 246px);
    margin-left: 24px;
    margin-right: 24px;
}


.portfolio-snapshot {
    height: 360px;
    width: 753px;
    margin-top: 28px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: -4px 8px 24px rgba(44, 63, 88, 0.02);
    border-radius: 4px;
}

.portfolio-flex {
    display: flex;
    margin-top: 0;
    padding-top: 15px;
    margin-right:10px;
    padding-bottom: 0px;
    justify-content: space-between;
}

.portfolio-flex-2 {
    display: flex;
    margin-top: 0;
    margin-right:28px;
    padding-bottom: 0px;
    justify-content: space-between;
}

.portfolio-flex {
    display: flex;
    flex-direction: row;
}

.portfolio-p p {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #06004D;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 22px;
    padding-top: 0;
}

.portfolio-p h4 {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #3E3F42;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-top: 0;
}

.portfolio-p h3 {
    padding-left: 30px;
    margin-top: 7px;
    margin-bottom: 23px;
    padding-top: 0;
    bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #06004D;
}

.portfolio-divider {
    position: absolute;
    height: 1px;
    width: 753px;
    background: #EAEDF3;
}




/////BUTTON ///////
.button {
    display: flex;
    height: 38px;
    padding: 0;
    margin-right: 30px;
    background: #6363FF;
    border: none;
    outline: none;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .button:hover {
    background: #008168;
  }
  
  .button:active {
    background: #006e58;
  }
  
  .button__text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  


  .latest-deal {
      margin: 28px;
      margin-bottom: 0;
      display: flex;

      img {
          width: 172px;
          height: 102px;
      }
  }

  .latest-header {
      display: flex;
      width: 480px;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 31px;
      margin-right: 31px;
      margin-top: 0;
      margin-bottom: 0;

  }

  .latest-highlight {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    
    color: #06004D;

    background: #E9F1F9;
    border-radius: 2px;
    height: 24px;
    width: 116px;
    margin: 0;
    p {
        margin-bottom: 0px;
        margin-top: 4px;
    }
  }

  .latest-title {
      margin: 0;
      h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #06004D;
        mix-blend-mode: normal;
        opacity: 0.75;
        margin: 0;
      }
  }

  .latest-name {
      margin-left: 31px;

      h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #06004D;
        margin: 0;
      }

      h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #5F5F5F;        
        margin: 0;
        margin-right: 29px;
      }

  }

  .latest-raised {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      margin-left: 31px;
      margin-bottom: 0;
      margin-right: 31px;
      justify-content: space-between;
  }

  .latest-stats {
      p {
            margin: 0;
            margin-top: 9px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #06004D;
      }
  }

  .latest-progress {
      display: flex;
      flex-direction: row;
      margin-left: 31px;
      margin-top: 0;
      p {
          margin-top: 9px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #9EA0A5;
      }
  }

  .latest-divider {
    position: absolute;
    height: 1px;
    width: 680px;
    border: 1px solid #EAEDF3;
    margin-left: 29px;
    margin-right: 29px;
}

.news-holder {
    background: #FFFFFF;
    box-shadow: -4px 8px 24px rgba(44, 63, 88, 0.02);
    border-radius: 4px;
    width: 350px;
    margin: 24px;
}

.news-holder-title {
    h2 {
        margin-left: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #06004D;
    }
}

.news-individual {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    margin-bottom: 5px;

 
}

.link:hover {
    cursor: pointer;
}

.news-snapshot {
    margin: 0 23px;
    display: flex;
    flex-direction: column;

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #06004D;
    }

    p {
        margin-top: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: #9EA0A5;
    }

}











/////////// BLOG CONTENT /////////////
.blog-detail-page {
    margin-top: 30px;
    font-size: 19px;
  
    .blog-detail-header {
      .lead {
        font-size: 17px;
      }
      &-title {
        font-size: 52px;
      }
    }
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }